.flex {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
}
body {
    background-color: white;
}
.center {
    margin: auto;
    text-align: center;
}

li {
    display: inline;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 5px;
    vertical-align: middle;
}
li a {
    text-decoration: none;
    color: rgb(68, 68, 70);
    padding-right: 5px;
}

.leftalign {
    float: left;
    display: inline;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}
.rightalign {
    float: right;
    display: inline;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}
.googleimg {
    margin-top: 180px;
    margin-bottom: 20px;
}
.form-area {
    position: relative;
    padding: 0;
    margin: 0;
}
#icons {
    height: 20px;
    margin: 0;
    padding-left: 30px;
    width: 400px;
    height: 30px;
    background: white;
    border: 1px solid gray;
    border-radius: 20px;
}
.material-icons {
    position: absolute;
    bottom: 12px;
    left: 10px;
    width: 10px; 
    height: 15px;
}
button {
    margin: auto;
    text-align: center;
}
footer {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #f2f2f2;
   position: fixed;
   bottom: 0;
   width: 100%;
}

.leftalignfoot {
    float: left;
    padding-left: 20px;
}
.rightalignfoot {
    float: right;
    padding-right: 20px;
}
.color {
    color: rgb(106, 106, 107);
}
