head {

}
body {
    background-color: white;
}
.center {
    margin: auto;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    display: inline;
    float: left;
}
li a {
    display: block;
    color: Black;
    text-align: center;
    text-decoration: none;
    padding: 14px
}

.leftalign {
    float: left;
    display: inline;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}
.rightalign {
    float: right;
    display: inline;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}
.main {

}
.googleimg {
    margin-top: 180px;
    margin-bottom: 20px;
}
.form {
    width:auto;
    margin:auto;
    margin-top:auto;
    text-align: center;
}
.micicon {

}
.magicon {

}
.searchbutton {

}
.footer {
    background-color: rgb(221, 221, 221);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer a {
    float: left;
    display: block;
    color: rgb(58, 58, 58);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.leftalignfoot {
    float: left;
    padding-left: 20px;
}
.rightalignfoot {
    float: right;
    padding-right: 20px;
}

